/*-----BASE-----*/

html {
	margin: 0 auto;
}
.main {
	background-image: url("../images/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 850px;
	width: 100%;
	position: relative;
}
h1, h2, h3, h4, p, a {
	color: rgba(255,255,255,.8);
	font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
}
h3 {
	margin: 0 0 10px 0;
	letter-spacing: .06em;
	font-weight: 400;
	margin: 15px;
}
p {
	letter-spacing: .03em;
	font-weight: 200;
	margin: 15px;
}
.nav img {
	height: 2em;
	opacity: .8;
}
.nav li {
	padding: 1em;
}
.logo {
	margin: 160px auto 20px;
 	width: 10em;
 	opacity: .8;
}
.projects ul li {
	margin: 0;
	padding: 0;
	background: #000;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
}
ul li:hover {
	background: #ccc;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s ;
	transition: all ease 0.5s ;

}
footer {
	height: 150px;
}
footer h4 {
	color: #000;
	text-align: center;
	margin: 50px;
}
footer button {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 25px;
	margin-top: 20px;
	width: 180px;
	
}




