/*-----BASE-----*/

html {
	margin: 0 auto;
}

/*-----TYPE-----*/

h1, h2, h3, h4, p, a {
	color: rgba(255,255,255,.8);
	font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
}
h3 {
	margin: 0 0 10px 0;
	letter-spacing: .06em;
	font-weight: 400;
	margin: 15px;
}
p {
	letter-spacing: .03em;
	font-weight: 200;
	margin: 15px 0 0 15px;
}

/*-----INDEX-----*/

.main {
	background-image: url("../images/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 850px;
	width: 100%;
	position: relative;
}
.nav img {
	height: 2em;
	opacity: .8;
}
.nav li {
	padding: 1em;
}
.logo {
	margin: 160px auto 20px;
 	width: 10em;
 	opacity: .8;
}
.header-logo {
	margin: 10px;
 	width: 2.25em;
 	opacity: .8;
}
.projects ul li {
	margin: 0;
	padding: 0;
	background: #32343c;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
}
.projects ul li:hover {
	background: #e75a58;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s ;
	transition: all ease 0.5s ;
}
.projects ul li img {
	opacity: .8;
}

/*-----PROJECTS-----*/

.top-nav {
	position: fixed;
	height: 58px;
	width: 100%;
	background-color: #1f2129;
	opacity: .9;
}
.project-header {
	margin: 20px 0 0 0;
}
.projects-sub ul li {
	margin: 0;
	padding: 0;
	background: #32343c;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
}
.projects-sub ul li:hover {
	background: #e75a58;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s ;
	transition: all ease 0.5s ;
}
.projects-sub ul li img {
	opacity: .8;
}
.services {
	color: #32343c;
	margin: 0;
}
.csl {
	background: #efedd7;
}
.process {
	margin: 30px 0 0 0;
}
.process h3,p{
	color: #32343c;
}
.process h4{
	color: #32343c;
	font-size: 18px;
	margin: 30px 0 0 15px;
}
.break {
	width: 5%;
	height: 2px;
	background-color: #32343c;
	opacity: .3;
	margin: 30px auto 0 auto;

}
.project-illustration {
	margin: 20px auto;
}


/*-----FOOTER-----*/

footer {
	height: 120px;
}
footer h4 {
	color: #32343c;
	text-align: center;
	margin-top: 80px;
}
footer a {
	color: #32343c;
}
footer a:hover {
	color: #e75a58;
}
footer img {
	height: 8em;
}
/*footer button {
	color: #fff;
	background-color: #32343c;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 25px;
	margin-top: 10px;
	width: 180px;
	border-radius: .15em;
}
footer button:hover {
	background-color: #131417;
}*/




