.nav-bar {
    background: #000;
    height: 6rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;

    .logo {
        display: block;
        padding: 1rem;

        img {
            display: block;
            margin: 0 2rem;
            width: 4rem;
            height: auto;
        }
    }
}